.tarjeta {
    width: 20vw;
    height: 25vw;
    background-color: rgba(0, 0, 0, 0.492);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 5rem 0;
    border-radius: 20px;
    position: relative;
    margin: 0.5rem;
    margin-top: 1.5rem;
    box-shadow: 3px 6px 15px 4px  rgba(24, 161, 17, 0.368);
}

.tarjeta:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.boton {
    width: 100%;
    font-size: 1.4rem;
    background-color: inherit;
    color:  white;
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 20px;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 90px;
}

.boton:hover {
    color:  rgb(255, 0, 0);
    transform: scale(1.2);
    transition-duration: 0.5s;
    border-radius: 100px;
}

.boton2 {
    width: 100%;
    font-size: 1.4rem;
    background-color: inherit;
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 20px;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 75px;
}

.boton2:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    border-radius: 100px;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100%
}

.image {
    width: 100%;
    border-radius: 4px;
}

.name {
    font-size: 1.25rem;
    width: 100%;
    margin-top: -20px;
    background-color: rgb(42, 143, 28);
    margin-bottom: -5px;
    color:  rgb(255, 255, 255);
    border-top-right-radius: 35%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.text {
    width: 100%;
    color:  rgb(255, 255, 255);
    display: flexbox;
    padding-left: 30px;
    justify-content: center;
}